In [1]:
#Q.1: Write pandas series code to get following output without using dictionary
import pandas as pd

# Create a Pandas Series with specified index positions
s = pd.Series([1, 4, 9, 6, 7], index=['a', 'x', 'c', '2', 'e'])

# Print the Series
print(s)

a    1
x    4
c    9
2    6
e    7
dtype: int64

C:\Users\Usama Maqsood\AppData\Local\Temp\ipykernel_16392\1356076197.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
#Q.2: Writer pandas series code to get following output using dictionary
name = [ 'Bilal', 'Ayesha', 'Hadia']
numb = [42,38,39]
d = dict(zip(name,numb))
print(d)

{'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}

In [9]:
#Q.3: Write pandas dataframe code to get following output using python dictionary 

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windSpeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)

print(df)

        day  temperature  windSpeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
# Q-4 In extension to above question, you are required to replace index by ['a','b','c','d','e','f']
# Set the index 
df.index = ['a', 'b', 'c', 'd', 'e', 'f']

print(df)

        day  temperature  windSpeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

In [11]:
# Q.5 Calculate mean, max, min for temperature
mean_data = df['temperature'].mean()
max_data = df['temperature'].max()
min_data = df['temperature'].min()

print("Mean Temperature:", mean_data)
print("Maximum Temperature:", max_data)
print("Minimum Temperature:", min_data)

Mean Temperature: 30.333333333333332
Maximum Temperature: 35
Minimum Temperature: 24

In [16]:
import pandas as pd

# Path to the CSV file
file_path = "people.csv"  

# Columns to import
columns_to_import = ["First Name", "Sex", "Email", "Phone", "Job Title"]

# Read CSV file with specific columns
df = pd.read_csv(file_path, usecols=columns_to_import)

# Display the DataFrame
print(df)

   First Name     Sex                       Email                   Phone  \
0      Shelby    Male        elijah57@example.net  001-084-906-7849x73518
1     Phillip  Female       bethany14@example.com       214.112.6044x4913
2    Kristine    Male       bthompson@example.com            277.609.7938
3     Yesenia    Male   kaitlinkaiser@example.com            584.094.6111
4        Lori    Male  buchananmanuel@example.net       689-207-3558x7233
..        ...     ...                         ...                     ...
95     Dennis  Female         bmartin@example.org    001-095-524-2112x257
96      Steve  Female       latasha46@example.net        001-865-478-5157
97     Wesley    Male        regina11@example.org      995-542-3004x76800
98     Summer  Female  alexiscantrell@example.org    001-273-685-6932x092
99     Mariah    Male       pcopeland@example.org     (341)594-6554x44657

                Job Title
0         Games developer
1          Phytotherapist
2               Homeopath
3       Market researcher
4      Veterinary surgeon
..                    ...
95      Software engineer
96              Barrister
97         Police officer
98   Broadcast journalist
99  IT sales professional

[100 rows x 5 columns]

In [17]:
# Set "Sex" and "Job Title" as index columns
df.set_index(["Sex", "Job Title"], inplace=True)

# Display the DataFrame
print(df)

                             First Name                       Email  \
Sex    Job Title
Male   Games developer           Shelby        elijah57@example.net
Female Phytotherapist           Phillip       bethany14@example.com
Male   Homeopath               Kristine       bthompson@example.com
       Market researcher        Yesenia   kaitlinkaiser@example.com
       Veterinary surgeon          Lori  buchananmanuel@example.net
...                                 ...                         ...
Female Software engineer         Dennis         bmartin@example.org
       Barrister                  Steve       latasha46@example.net
Male   Police officer            Wesley        regina11@example.org
Female Broadcast journalist      Summer  alexiscantrell@example.org
Male   IT sales professional     Mariah       pcopeland@example.org

                                               Phone
Sex    Job Title
Male   Games developer        001-084-906-7849x73518
Female Phytotherapist              214.112.6044x4913
Male   Homeopath                        277.609.7938
       Market researcher                584.094.6111
       Veterinary surgeon          689-207-3558x7233
...                                              ...
Female Software engineer        001-095-524-2112x257
       Barrister                    001-865-478-5157
Male   Police officer             995-542-3004x76800
Female Broadcast journalist     001-273-685-6932x092
Male   IT sales professional     (341)594-6554x44657

[100 rows x 3 columns]

In [18]:
# Rows to skip
rows_to_skip = [1, 5]

# Read CSV file, skipping specified rows
df = pd.read_csv(file_path, skiprows=rows_to_skip)

# Display the DataFrame
print(df)

    Index          User Id First Name  Last Name     Sex  \
0       2  f90cD3E76f1A9b9    Phillip    Summers  Female
1       3  DbeAb8CcdfeFC2c   Kristine     Travis    Male
2       4  A31Bee3c201ef58    Yesenia   Martinez    Male
3       6  bfDD7CDEF5D865B       Erin        Day    Male
4       7  bE9EEf34cB72AF7  Katherine       Buck  Female
..    ...              ...        ...        ...     ...
93     96  5eFda7caAeB260E     Dennis     Barnes  Female
94     97  CCbFce93d3720bE      Steve  Patterson  Female
95     98  2fEc528aFAF0b69     Wesley       Bray    Male
96     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
97    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                  Phone Date of birth  \
0        bethany14@example.com      214.112.6044x4913    1910-03-24
1        bthompson@example.com           277.609.7938    1992-07-02
2    kaitlinkaiser@example.com           584.094.6111    2017-08-03
3          tconner@example.org  001-171-649-9856x5553    2015-10-28
4      conniecowan@example.com  +1-773-151-6685x49162    1989-01-22
..                         ...                    ...           ...
93         bmartin@example.org   001-095-524-2112x257    1954-07-30
94       latasha46@example.net       001-865-478-5157    1932-04-29
95        regina11@example.org     995-542-3004x76800    1994-12-28
96  alexiscantrell@example.org   001-273-685-6932x092    2012-04-12
97       pcopeland@example.org    (341)594-6554x44657    2016-11-15

                   Job Title
0             Phytotherapist
1                  Homeopath
2          Market researcher
3   Waste management officer
4       Intelligence analyst
..                       ...
93         Software engineer
94                 Barrister
95            Police officer
96      Broadcast journalist
97     IT sales professional

[98 rows x 9 columns]

In [19]:
new_file_path = "new_people.csv"  

# Export DataFrame to a new CSV file
df.to_csv(new_file_path)

print("DataFrame exported to:", new_file_path)

DataFrame exported to: new_people.csv

In [21]:
# Q.7 
import pandas as pd

# Path to the Excel file
file_path = "SampleWork.xlsx"  

# Columns to import
columns_to_import = [0, -1]  # First and last column

# Skip row 2
skip_rows = [1]

# Read Excel file, importing specific columns and skipping rows
df = pd.read_excel(file_path, sheet_name=0, usecols=columns_to_import, skiprows=skip_rows)

# Set row 2 as header
header_row = 1
df.columns = df.iloc[header_row]

# Export DataFrame to a new sheet
new_sheet = "Modified_Sheet"
df.to_excel(file_path, sheet_name=new_sheet, index=False)

print("DataFrame exported to new sheet:", new_sheet)

DataFrame exported to new sheet: Modified_Sheet

In [23]:
import pandas as pd

# Path to the Excel file
file_path = "SampleWork.xlsx"

# Skip row 2
skip_rows = [1]

# Read Excel file by skipping row 2
df = pd.read_excel(file_path, sheet_name=0, skiprows=skip_rows)

# Set row no 2 as header
header_row = 1
df.columns = df.iloc[header_row]

# Specify the new file path for the export
new_path = "Modified_SampleWork.xlsx"

# Export DataFrame to a new Excel file
df.to_excel(new_path, index=False)

print("DataFrame exported to new Excel file:", new_path)

DataFrame exported to new Excel file: Modified_SampleWork.xlsx

In [26]:
#Q.8 Create AICP_DF from the as:

data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27,24,22,32,23],
    'Address': ['Lahore','Karachi','Sialkot','Peshawar','lhr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'bsc']
}

AICP_DF = pd.DataFrame(data)

print(AICP_DF)

    Name  Age   Address Qualification
0  Sonia   27    Lahore           Msc
1  Bilal   24   Karachi            MA
2  Hifza   22   Sialkot           MCA
3  Kabir   32  Peshawar           Phd
4  Jazim   23       lhr           bsc

In [27]:
# Selecting only 'Name' and 'Qualification' columns
df1 = AICP_DF[['Name', 'Qualification']]
print(df1)

    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           bsc

In [31]:
# Add a new column "Height" to the DataFrame with given val
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]
print(AICP_DF)

    Name  Age   Address Qualification  Height
0  Sonia   27    Lahore           Msc     5.1
1  Bilal   24   Karachi            MA     6.2
2  Hifza   22   Sialkot           MCA     5.1
3  Kabir   32  Peshawar           Phd     5.2
4  Jazim   23       lhr           bsc     5.1

In [32]:
# Set 'Name' column as index & Retrieve row 'Hifza'
AICP_DF.set_index('Name', inplace=True)

row = AICP_DF.loc['Hifza']

print(row)

Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

In [33]:
# Retrieve row with index 3
row_index_3 = AICP_DF.iloc[3]

print(row_index_3)

Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object

In [34]:
# Drop row with index 'Bilal'
AICP_DF.drop(index='Bilal', inplace=True)
print(AICP_DF)

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       lhr           bsc     5.1